scikit-learn
flask==1.0.2
flask-wtf==0.14.2
bootstrap-flask==1.0.9
selenium==3.141.0
BeautifulSoup4
joblib
keras==2.2.4
keras-applications==1.0.6
keras-preprocessing==1.0.5
tensorboard==1.8.0
tensorflow==1.8.0
pandas==0.23.0
pandas-summary==0.0.5
