{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}

{% block content %}
<div class="container mt-5" >
    <h1 class="text-center">Movie Review Sentiment Analysis for Rotten Tomatoes</h1>
    <div class="row">
      <a href="https://www.rottentomatoes.com/" target="view_window" class="m-auto"><img src="{{ url_for('static', filename='images/rotten_tomatoes.jpg') }}" alt="rotten_tomatoes_logo" class="m-auto"/></a>
    </div>
    <form action="search" method="post" class="form" role="form">
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjAzZjc2ZDY1YjA4MjU5ODkxNDFkNjE4YmExNjE3N2RlNzA0MzFhYmEi.Dvg10g.a19UN9KaAoQCSu__ow0lli10Zvs">
        <div class="container">
        <div class="row">
        <div class="form-group required col-sm-10">
          <label class="form-control-label" for="moviename" style="display:none;">Moviename</label>
          <input class="form-control" id="moviename" name="moviename" required type="text" value="">
        </div>
        <div class="col-sm-2">
        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">
        </div>
        </div>
        </div>
    </form>
    <br/>
    {% if reviews %}
    <h3>Reviews for {{ movie_name }}:</h3>
    {% for review in reviews %}
    <div class="card">
      <div class="card-header">
        score: {{ review['score'] }}<br/>
        prediction: {{ review['predict'] }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ review['comment'] }}</p>
          <footer class="blockquote-footer">{{ review['reviewer'] }} <br/> {{ review['date'] }}</footer>
        </blockquote>
      </div>
    </div>
    <br/>
    {% endfor %}
    {% else %}
      <h3>There is no reviews for {{ movie_name }}</h3>
    {% endif %}
    {% endblock %}
</div>
